In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df = pd.read_csv('/content/data.csv')
print(df)

                     date         price  bedrooms  bathrooms  sqft_living  \
0     2014-05-02 00:00:00  3.130000e+05       3.0       1.50         1340
1     2014-05-02 00:00:00  2.384000e+06       5.0       2.50         3650
2     2014-05-02 00:00:00  3.420000e+05       3.0       2.00         1930
3     2014-05-02 00:00:00  4.200000e+05       3.0       2.25         2000
4     2014-05-02 00:00:00  5.500000e+05       4.0       2.50         1940
...                   ...           ...       ...        ...          ...
4595  2014-07-09 00:00:00  3.081667e+05       3.0       1.75         1510
4596  2014-07-09 00:00:00  5.343333e+05       3.0       2.50         1460
4597  2014-07-09 00:00:00  4.169042e+05       3.0       2.50         3010
4598  2014-07-10 00:00:00  2.034000e+05       4.0       2.00         2090
4599  2014-07-10 00:00:00  2.206000e+05       3.0       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
0         7912     1.5           0     0          3        1340
1         9050     2.0           0     4          5        3370
2        11947     1.0           0     0          4        1930
3         8030     1.0           0     0          4        1000
4        10500     1.0           0     0          4        1140
...        ...     ...         ...   ...        ...         ...
4595      6360     1.0           0     0          4        1510
4596      7573     2.0           0     0          3        1460
4597      7014     2.0           0     0          3        3010
4598      6630     1.0           0     0          3        1070
4599      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated                    street  \
0                 0      1955          2005      18810 Densmore Ave N
1               280      1921             0           709 W Blaine St
2                 0      1966             0  26206-26214 143rd Ave SE
3              1000      1963             0           857 170th Pl NE
4               800      1976          1992         9105 170th Ave NE
...             ...       ...           ...                       ...
4595              0      1954          1979            501 N 143rd St
4596              0      1983          2009          14855 SE 10th Pl
4597              0      2009             0          759 Ilwaco Pl NE
4598           1020      1974             0         5148 S Creston St
4599              0      1990             0         18717 SE 258th St

           city  statezip country
0     Shoreline  WA 98133     USA
1       Seattle  WA 98119     USA
2          Kent  WA 98042     USA
3      Bellevue  WA 98008     USA
4       Redmond  WA 98052     USA
...         ...       ...     ...
4595    Seattle  WA 98133     USA
4596   Bellevue  WA 98007     USA
4597     Renton  WA 98059     USA
4598    Seattle  WA 98178     USA
4599  Covington  WA 98042     USA

[4600 rows x 18 columns]

In [13]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [14]:
df.tail()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
4595,2014-07-09 00:00:00,308166.666667,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,534333.333333,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,416904.166667,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,203400.000000,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,220600.000000,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

In [16]:
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

In [17]:
df.shape

(4600, 18)

In [18]:
df.isnull()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4596,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4597,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4598,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4599,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [19]:
df.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [20]:
df.dtypes

date              object
price            float64
bedrooms         float64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
street            object
city              object
statezip          object
country           object
dtype: object

In [21]:
df["country"].value_counts()

country
USA    4600
Name: count, dtype: int64

In [22]:
df["street"].value_counts()

street
2520 Mulberry Walk NE     4
2500 Mulberry Walk NE     3
9413 34th Ave SW          2
6008 8th Ave NE           2
11034 NE 26th Pl          2
                         ..
1404 Broadmoor Dr E       1
3249 E Ames Lake Dr NE    1
6032 35th Ave NE          1
1006 NE Ravenna Blvd      1
18717 SE 258th St         1
Name: count, Length: 4525, dtype: int64

In [23]:
df["city"].value_counts()

city
Seattle                1573
Renton                  293
Bellevue                286
Redmond                 235
Issaquah                187
Kirkland                187
Kent                    185
Auburn                  176
Sammamish               175
Federal Way             148
Shoreline               123
Woodinville             115
Maple Valley             96
Mercer Island            86
Burien                   74
Snoqualmie               71
Kenmore                  66
Des Moines               58
North Bend               50
Covington                43
Duvall                   42
Lake Forest Park         36
Bothell                  33
Newcastle                33
SeaTac                   29
Tukwila                  29
Vashon                   29
Enumclaw                 28
Carnation                22
Normandy Park            18
Clyde Hill               11
Medina                   11
Fall City                11
Black Diamond             9
Ravensdale                7
Pacific                   6
Algona                    5
Yarrow Point              4
Skykomish                 3
Preston                   2
Milton                    2
Inglewood-Finn Hill       1
Snoqualmie Pass           1
Beaux Arts Village        1
Name: count, dtype: int64

In [24]:
df["statezip"].value_counts()

statezip
WA 98103    148
WA 98052    135
WA 98117    132
WA 98115    130
WA 98006    110
           ...
WA 98047      6
WA 98288      3
WA 98050      2
WA 98354      2
WA 98068      1
Name: count, Length: 77, dtype: int64

In [25]:
X = df[['sqft_living', 'bedrooms']]
y = df['price']

In [26]:
X.shape

(4600, 2)

In [27]:
y.shape

(4600,)

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [29]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error,r2_score
import joblib
import tensorflow as tf
from tensorflow import keras

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [31]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [32]:
rf_regressor = RandomForestRegressor(n_estimators=100, random_state=42)

rf_regressor.fit(X_train, y_train)

y_pred = rf_regressor.predict(X_test)

In [33]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')

joblib.dump(rf_regressor, 'random_forest_house_price_model.pkl')
joblib.dump(scaler, 'scaler.pkl')

Mean Squared Error: 1016174681001.1254
R^2 Score: 0.0036002081308799116

['scaler.pkl']

In [34]:
X_train_tf = tf.convert_to_tensor(X_train, dtype=tf.float32)
X_test_tf = tf.convert_to_tensor(X_test, dtype=tf.float32)
y_train_tf = tf.convert_to_tensor(y_train.values.reshape(-1, 1), dtype=tf.float32)
y_test_tf = tf.convert_to_tensor(y_test.values.reshape(-1, 1), dtype=tf.float32)


model = keras.Sequential([
    keras.layers.Dense(64, activation='relu', input_shape=[X_train.shape[1]]),
    keras.layers.Dense(64, activation='relu'),
    keras.layers.Dense(1)
])


model.compile(optimizer='adam', loss='mean_squared_error')


history = model.fit(X_train_tf, y_train_tf, epochs=100, validation_split=0.2)


test_predictions = model.predict(X_test_tf)
mse_tf = mean_squared_error(y_test_tf, test_predictions)
print(f'Mean Squared Error (TensorFlow): {mse_tf}')

Epoch 1/100
92/92 [==============================] - 1s 4ms/step - loss: 448298123264.0000 - val_loss: 401499291648.0000
Epoch 2/100
92/92 [==============================] - 0s 2ms/step - loss: 448248414208.0000 - val_loss: 401405181952.0000
Epoch 3/100
92/92 [==============================] - 0s 2ms/step - loss: 448056295424.0000 - val_loss: 401125081088.0000
Epoch 4/100
92/92 [==============================] - 0s 3ms/step - loss: 447605014528.0000 - val_loss: 400549281792.0000
Epoch 5/100
92/92 [==============================] - 0s 2ms/step - loss: 446766907392.0000 - val_loss: 399563227136.0000
Epoch 6/100
92/92 [==============================] - 0s 3ms/step - loss: 445427613696.0000 - val_loss: 398097940480.0000
Epoch 7/100
92/92 [==============================] - 0s 2ms/step - loss: 443513896960.0000 - val_loss: 396059312128.0000
Epoch 8/100
92/92 [==============================] - 0s 2ms/step - loss: 440953831424.0000 - val_loss: 393409265664.0000
Epoch 9/100
92/92 [==============================] - 0s 2ms/step - loss: 437697970176.0000 - val_loss: 390084231168.0000
Epoch 10/100
92/92 [==============================] - 0s 2ms/step - loss: 433733566464.0000 - val_loss: 386076016640.0000
Epoch 11/100
92/92 [==============================] - 0s 2ms/step - loss: 428984008704.0000 - val_loss: 381364207616.0000
Epoch 12/100
92/92 [==============================] - 0s 2ms/step - loss: 423465418752.0000 - val_loss: 375963877376.0000
Epoch 13/100
92/92 [==============================] - 0s 2ms/step - loss: 417165148160.0000 - val_loss: 369805787136.0000
Epoch 14/100
92/92 [==============================] - 0s 2ms/step - loss: 410023395328.0000 - val_loss: 362898325504.0000
Epoch 15/100
92/92 [==============================] - 0s 3ms/step - loss: 402091868160.0000 - val_loss: 355248734208.0000
Epoch 16/100
92/92 [==============================] - 0s 2ms/step - loss: 393375383552.0000 - val_loss: 346996375552.0000
Epoch 17/100
92/92 [==============================] - 0s 2ms/step - loss: 383944065024.0000 - val_loss: 338083184640.0000
Epoch 18/100
92/92 [==============================] - 0s 3ms/step - loss: 373773336576.0000 - val_loss: 328603369472.0000
Epoch 19/100
92/92 [==============================] - 0s 2ms/step - loss: 362980573184.0000 - val_loss: 318357733376.0000
Epoch 20/100
92/92 [==============================] - 0s 2ms/step - loss: 351567970304.0000 - val_loss: 307951534080.0000
Epoch 21/100
92/92 [==============================] - 0s 2ms/step - loss: 339687505920.0000 - val_loss: 296826109952.0000
Epoch 22/100
92/92 [==============================] - 0s 2ms/step - loss: 327378862080.0000 - val_loss: 285612965888.0000
Epoch 23/100
92/92 [==============================] - 0s 2ms/step - loss: 314827112448.0000 - val_loss: 273947475968.0000
Epoch 24/100
92/92 [==============================] - 0s 3ms/step - loss: 301955612672.0000 - val_loss: 262406963200.0000
Epoch 25/100
92/92 [==============================] - 0s 3ms/step - loss: 288956579840.0000 - val_loss: 250758201344.0000
Epoch 26/100
92/92 [==============================] - 0s 3ms/step - loss: 275987529728.0000 - val_loss: 238882488320.0000
Epoch 27/100
92/92 [==============================] - 0s 3ms/step - loss: 262944571392.0000 - val_loss: 227436675072.0000
Epoch 28/100
92/92 [==============================] - 0s 3ms/step - loss: 250105774080.0000 - val_loss: 216004575232.0000
Epoch 29/100
92/92 [==============================] - 0s 3ms/step - loss: 237488439296.0000 - val_loss: 204979355648.0000
Epoch 30/100
92/92 [==============================] - 0s 4ms/step - loss: 225266204672.0000 - val_loss: 194246672384.0000
Epoch 31/100
92/92 [==============================] - 0s 4ms/step - loss: 213425061888.0000 - val_loss: 183975624704.0000
Epoch 32/100
92/92 [==============================] - 0s 3ms/step - loss: 202030202880.0000 - val_loss: 174392213504.0000
Epoch 33/100
92/92 [==============================] - 0s 3ms/step - loss: 191189696512.0000 - val_loss: 165060460544.0000
Epoch 34/100
92/92 [==============================] - 0s 3ms/step - loss: 180941832192.0000 - val_loss: 156324724736.0000
Epoch 35/100
92/92 [==============================] - 0s 3ms/step - loss: 171313479680.0000 - val_loss: 148330643456.0000
Epoch 36/100
92/92 [==============================] - 0s 2ms/step - loss: 162400174080.0000 - val_loss: 140879642624.0000
Epoch 37/100
92/92 [==============================] - 0s 3ms/step - loss: 154166870016.0000 - val_loss: 134155182080.0000
Epoch 38/100
92/92 [==============================] - 0s 2ms/step - loss: 146602409984.0000 - val_loss: 127992102912.0000
Epoch 39/100
92/92 [==============================] - 0s 2ms/step - loss: 139703042048.0000 - val_loss: 122435878912.0000
Epoch 40/100
92/92 [==============================] - 0s 2ms/step - loss: 133446754304.0000 - val_loss: 117571559424.0000
Epoch 41/100
92/92 [==============================] - 0s 2ms/step - loss: 127856869376.0000 - val_loss: 112970760192.0000
Epoch 42/100
92/92 [==============================] - 0s 2ms/step - loss: 122851459072.0000 - val_loss: 109079814144.0000
Epoch 43/100
92/92 [==============================] - 0s 2ms/step - loss: 118429024256.0000 - val_loss: 105552429056.0000
Epoch 44/100
92/92 [==============================] - 0s 2ms/step - loss: 114538078208.0000 - val_loss: 102522150912.0000
Epoch 45/100
92/92 [==============================] - 0s 2ms/step - loss: 111142846464.0000 - val_loss: 99894476800.0000
Epoch 46/100
92/92 [==============================] - 0s 3ms/step - loss: 108177424384.0000 - val_loss: 97573380096.0000
Epoch 47/100
92/92 [==============================] - 0s 3ms/step - loss: 105584672768.0000 - val_loss: 95529271296.0000
Epoch 48/100
92/92 [==============================] - 0s 2ms/step - loss: 103365074944.0000 - val_loss: 93733265408.0000
Epoch 49/100
92/92 [==============================] - 0s 2ms/step - loss: 101379686400.0000 - val_loss: 92235227136.0000
Epoch 50/100
92/92 [==============================] - 0s 3ms/step - loss: 99684802560.0000 - val_loss: 90811858944.0000
Epoch 51/100
92/92 [==============================] - 0s 3ms/step - loss: 98199920640.0000 - val_loss: 89548365824.0000
Epoch 52/100
92/92 [==============================] - 0s 2ms/step - loss: 96885252096.0000 - val_loss: 88411463680.0000
Epoch 53/100
92/92 [==============================] - 0s 2ms/step - loss: 95716024320.0000 - val_loss: 87392329728.0000
Epoch 54/100
92/92 [==============================] - 0s 2ms/step - loss: 94701903872.0000 - val_loss: 86459932672.0000
Epoch 55/100
92/92 [==============================] - 0s 3ms/step - loss: 93766672384.0000 - val_loss: 85582831616.0000
Epoch 56/100
92/92 [==============================] - 0s 2ms/step - loss: 92921815040.0000 - val_loss: 84728389632.0000
Epoch 57/100
92/92 [==============================] - 0s 2ms/step - loss: 92157263872.0000 - val_loss: 83972792320.0000
Epoch 58/100
92/92 [==============================] - 0s 2ms/step - loss: 91474124800.0000 - val_loss: 83227344896.0000
Epoch 59/100
92/92 [==============================] - 0s 3ms/step - loss: 90844536832.0000 - val_loss: 82519719936.0000
Epoch 60/100
92/92 [==============================] - 0s 2ms/step - loss: 90246733824.0000 - val_loss: 81844682752.0000
Epoch 61/100
92/92 [==============================] - 0s 2ms/step - loss: 89732997120.0000 - val_loss: 81186439168.0000
Epoch 62/100
92/92 [==============================] - 0s 2ms/step - loss: 89199140864.0000 - val_loss: 80560152576.0000
Epoch 63/100
92/92 [==============================] - 0s 3ms/step - loss: 88707252224.0000 - val_loss: 79982755840.0000
Epoch 64/100
92/92 [==============================] - 0s 3ms/step - loss: 88237957120.0000 - val_loss: 79365308416.0000
Epoch 65/100
92/92 [==============================] - 0s 2ms/step - loss: 87803797504.0000 - val_loss: 78831411200.0000
Epoch 66/100
92/92 [==============================] - 0s 2ms/step - loss: 87385448448.0000 - val_loss: 78308753408.0000
Epoch 67/100
92/92 [==============================] - 0s 2ms/step - loss: 87015358464.0000 - val_loss: 77759897600.0000
Epoch 68/100
92/92 [==============================] - 0s 3ms/step - loss: 86630498304.0000 - val_loss: 77275947008.0000
Epoch 69/100
92/92 [==============================] - 0s 3ms/step - loss: 86279913472.0000 - val_loss: 76788654080.0000
Epoch 70/100
92/92 [==============================] - 0s 2ms/step - loss: 85932236800.0000 - val_loss: 76348776448.0000
Epoch 71/100
92/92 [==============================] - 0s 3ms/step - loss: 85614125056.0000 - val_loss: 75862179840.0000
Epoch 72/100
92/92 [==============================] - 0s 3ms/step - loss: 85269495808.0000 - val_loss: 75403206656.0000
Epoch 73/100
92/92 [==============================] - 0s 2ms/step - loss: 84968144896.0000 - val_loss: 74985758720.0000
Epoch 74/100
92/92 [==============================] - 0s 2ms/step - loss: 84695326720.0000 - val_loss: 74567761920.0000
Epoch 75/100
92/92 [==============================] - 0s 2ms/step - loss: 84424441856.0000 - val_loss: 74143293440.0000
Epoch 76/100
92/92 [==============================] - 0s 3ms/step - loss: 84145356800.0000 - val_loss: 73756155904.0000
Epoch 77/100
92/92 [==============================] - 0s 2ms/step - loss: 83876651008.0000 - val_loss: 73390489600.0000
Epoch 78/100
92/92 [==============================] - 0s 2ms/step - loss: 83622543360.0000 - val_loss: 73031778304.0000
Epoch 79/100
92/92 [==============================] - 0s 4ms/step - loss: 83400605696.0000 - val_loss: 72661123072.0000
Epoch 80/100
92/92 [==============================] - 0s 3ms/step - loss: 83153674240.0000 - val_loss: 72323309568.0000
Epoch 81/100
92/92 [==============================] - 0s 3ms/step - loss: 82920759296.0000 - val_loss: 71986470912.0000
Epoch 82/100
92/92 [==============================] - 0s 3ms/step - loss: 82707030016.0000 - val_loss: 71658135552.0000
Epoch 83/100
92/92 [==============================] - 0s 3ms/step - loss: 82499592192.0000 - val_loss: 71333519360.0000
Epoch 84/100
92/92 [==============================] - 0s 4ms/step - loss: 82298028032.0000 - val_loss: 71050625024.0000
Epoch 85/100
92/92 [==============================] - 0s 4ms/step - loss: 82115805184.0000 - val_loss: 70749970432.0000
Epoch 86/100
92/92 [==============================] - 0s 3ms/step - loss: 81920663552.0000 - val_loss: 70469033984.0000
Epoch 87/100
92/92 [==============================] - 0s 4ms/step - loss: 81745657856.0000 - val_loss: 70176186368.0000
Epoch 88/100
92/92 [==============================] - 0s 3ms/step - loss: 81565384704.0000 - val_loss: 69951201280.0000
Epoch 89/100
92/92 [==============================] - 0s 2ms/step - loss: 81401413632.0000 - val_loss: 69707390976.0000
Epoch 90/100
92/92 [==============================] - 0s 2ms/step - loss: 81233674240.0000 - val_loss: 69434548224.0000
Epoch 91/100
92/92 [==============================] - 0s 2ms/step - loss: 81082892288.0000 - val_loss: 69221720064.0000
Epoch 92/100
92/92 [==============================] - 0s 2ms/step - loss: 80932962304.0000 - val_loss: 69002706944.0000
Epoch 93/100
92/92 [==============================] - 0s 3ms/step - loss: 80798318592.0000 - val_loss: 68796964864.0000
Epoch 94/100
92/92 [==============================] - 0s 2ms/step - loss: 80650297344.0000 - val_loss: 68600672256.0000
Epoch 95/100
92/92 [==============================] - 0s 2ms/step - loss: 80503185408.0000 - val_loss: 68394254336.0000
Epoch 96/100
92/92 [==============================] - 0s 2ms/step - loss: 80409608192.0000 - val_loss: 68199211008.0000
Epoch 97/100
92/92 [==============================] - 0s 2ms/step - loss: 80274841600.0000 - val_loss: 68021784576.0000
Epoch 98/100
92/92 [==============================] - 0s 2ms/step - loss: 80148758528.0000 - val_loss: 67829624832.0000
Epoch 99/100
92/92 [==============================] - 0s 3ms/step - loss: 80035004416.0000 - val_loss: 67683590144.0000
Epoch 100/100
92/92 [==============================] - 0s 2ms/step - loss: 79938568192.0000 - val_loss: 67515817984.0000
29/29 [==============================] - 0s 1ms/step
Mean Squared Error (TensorFlow): 991640027136.0